[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["@netlify/blobs"]

[dev]
  command = "pnpm run dev:astro"  
  port = 8888
  targetPort = 4321
  framework = "astro"